* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.container {
  text-align: center;
  font-family: Roboto;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  color: #171f46;
}
.para {
  color: #64748b;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 16px;
  margin: 30px;
  padding: 10px;
}
